<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.5.1" targetFramework="net472" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net472" />
  <package id="Google.Api.CommonProtos" version="2.6.0" targetFramework="net472" />
  <package id="Google.Api.Gax" version="4.1.1" targetFramework="net472" />
  <package id="Google.Api.Gax.Grpc" version="4.1.1" targetFramework="net472" />
  <package id="Google.Api.Gax.Grpc.GrpcCore" version="3.7.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Rest" version="4.1.1" targetFramework="net472" />
  <package id="Google.Apis" version="1.69.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.69.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.69.0" targetFramework="net472" />
  <package id="Google.Apis.Discovery.v1" version="1.57.0" targetFramework="net472" />
  <package id="Google.Apis.Speech.v1beta1" version="1.36.1.1406" targetFramework="net472" />
  <package id="Google.Apis.Texttospeech.v1beta1" version="1.57.0.2525" targetFramework="net472" />
  <package id="Google.Cloud.Speech.V1" version="3.0.0" targetFramework="net472" />
  <package id="Google.LongRunning" version="3.0.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.33.1" targetFramework="net472" />
  <package id="Grpc.Auth" version="2.71.0" targetFramework="net472" />
  <package id="Grpc.Core" version="2.46.6" targetFramework="net472" />
  <package id="Grpc.Core.Api" version="2.71.0" targetFramework="net472" />
  <package id="Grpc.Net.Client" version="2.71.0" targetFramework="net472" />
  <package id="Grpc.Net.Common" version="2.71.0" targetFramework="net472" />
  <package id="JH.Google.Cloud.TextToSpeech.V1" version="1.0.2" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.Memory" version="10.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net472" />
  <package id="NAudio" version="2.2.1" targetFramework="net472" />
  <package id="NAudio.Asio" version="2.2.1" targetFramework="net472" />
  <package id="NAudio.Core" version="2.2.1" targetFramework="net472" />
  <package id="NAudio.Lame" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.Midi" version="2.2.1" targetFramework="net472" />
  <package id="NAudio.Wasapi" version="2.2.1" targetFramework="net472" />
  <package id="NAudio.WinForms" version="2.2.1" targetFramework="net472" />
  <package id="NAudio.WinMM" version="2.2.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net472" />
  <package id="Prism.Container.Abstractions" version="9.0.107" targetFramework="net472" />
  <package id="Prism.Core" version="9.0.537" targetFramework="net472" />
  <package id="Prism.Events" version="9.0.537" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0" targetFramework="net472" />
  <package id="System.Interactive.Async" version="7.0.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq.Async" version="7.0.0" targetFramework="net472" />
  <package id="System.Linq.AsyncEnumerable" version="10.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Net.Http.WinHttpHandler" version="10.0.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net472" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net472" />
</packages>